{%extends 'blog/base.html'%}
{%block link%} {%endblock%}

{%block content%}
{%if post_catagory%}
<div class="head-bar">
  <h1>{{cats|title}} <i>{{post_count}} posts</i></h1>
  <a href="{%url 'home'%}">&#8592;Back</a>
</div>

 
<div class="post-body">  
  <div class="row">
      {%for post in post_catagory%}
    <a href="{% url 'post-detail' post.id%}">
      <div class="col">
          <div class="card" style="width:350px; height: 400;">
            <div class="head-post">
              <h6> <img src="{{post.user.profile.photo.url}}" alt=""
                width="50" height="50" id="pro-pic">
               <strong>{{post.user|title }}</strong></h6>
              <h6>Posted on <strong>{{post.created|date}}</strong></h6>
          </div>
              <img src="{{post.image.url}}" alt="" id="posted-image" 
              width="340" height="200">

              <div class="card-body">
                  <figcaption>
                  <h1 class="card-title">{{post.title}}</h1> 
                 <p class="disc">{{post.discription}}</p>
                 {%if post.comment.all%}
                 <a href="{%url 'view-comment' post.pk%}">
                   comments-{{post.comment.all.count}} 
                 </a>
                 {%else%}
                <small></small>
                 {%endif%}
                 {%if not request.user == post.user%}
                <form action="{%url 'like-post' post.id%}" method="post">
                   {%csrf_token%}
                   <button type="submit" name="lk" value="{{ post.id }}">
                       Like 
                   </button>
                   <b>{{like.count}}</b>
                </form>
                 <a href="{%url 'add-comment' post.pk%}">Add Comment</a>
               {%endif%}
               {%if request.user == post.user%}
               <a href="{%url 'delete_post' post.id%}">Delete</a> |
               <a href="{%url 'post-update' post.id%}">Edit</a>
               {%endif%}
              </figcaption>
            </a>
              </div>

          </div>
      </div>
      {%endfor%}
  </div>
  </div>
{%else%}
<div class="head-bar">
  <p>No posts found in this catagory</p>
  <a id="add-icon" href="{%url 'post-create'%}">&#x2b;Add post </a>
</div>
{%endif%}
{%endblock%}