{%extends 'blog/base.html'%}
{%block title%}Change-password | {%endblock%}
{%block content%}
<div class="loginbox">
    <div class="head-bar">
        <h1>Change Password : {{request.user}}</h1>
        <a  id='add-icon' href="{%url 'profile'%}">&#8592;Back</a>
    </div>
    <div class="chage">
        <form action="" method="post">
            {%csrf_token%}
            {{form.as_p}}
            <br>
            <input type="submit" name="" id="" value="Change password">
        </form>
    </div>
</div>

{%endblock%}