{% extends 'blog/base.html'%}
{%block title%}Home | {%endblock%}
{%if request.user.is_authenticated%}
{%block name%}

{%endblock%}
{%endif%} 
{%block content %}
{%if search and post%}
<div class="head-bar">
<h1><i>{{result}} result{{result|pluralize}}</i> for {{search}}</h1>
<a id="add-icon" href="{%url 'post-create'%}">
    &#x2b; Add post</a>
</div>
{%elif post%}
<div class="head-bar">
<h1><i>{{count}} Post{{count|pluralize}}</i> {{cats|title}}</h1>
{%if request.user.is_superuser%}
<a id="add-icon" href="{%url 'users'%}">Manage User</a>
{%endif%}
<a id="add-icon" href="{%url 'post-create'%}">
    &#x2b; Add post</a>
</div>
{%endif%}
<div class="post-body">
<div class="catagory">
    <div id="navbar">
<a href="{%url 'post-catagory' 'all'%}" class="btn">All</a>    
<a href="{%url 'post-catagory' 'sports'%}" class="btn">Sports</a>
<a href="{%url 'post-catagory' 'fashion'%}" class="btn">Fashion</a>
<a href="{%url 'post-catagory' 'science'%}" class="btn">Science</a>
<a href="{%url 'post-catagory' 'music'%}" class="btn">Music</a>
<a href="{%url 'post-catagory' 'movies'%}" class="btn">Movies</a>
<a href="{%url 'post-catagory' 'technology'%}" class="btn">Technology</a>
</div>

<form action="" method="get">  
    <div class="searching">
        <input  type="text" name="search-area" class="text"
        placeholder="search posts here" >
        <input type="submit" id="subm" value="Search">
    </div>
</form>
</div>
<div class="row">
   {%if post%}
   {%for post in post%}
     <div class="col">
    <a href="{%url 'post-detail' post.id%}">
        <div class="card" style="width:350px; ">
            <div class="head-post">
            {%if post.user.profile.photo.url%}
        <div>     
        <h6> <img src="{{post.user.profile.photo.url}}" alt=""
            width="40" height="40" id="pro-pic">
        {% if request.user == post.user %}
               <br> <strong>You</strong>
        {%else%}
                <br><strong>{{post.user|title}}</strong>
        {%endif%}
        </h6>
        </div>
        {%else%}
        <div>
        <h6> <img src="/media/image/defualt.png" alt=""
        width="50" height="50" id="pro-pic">
        <strong>{{post.user|title}}</strong>
        </h6>
        </div>
        {%endif%}
        <div style="width:fit-content;margin: auto;font-size: 12px;">
            <div class>
                 <h6><b>{{post.catagory|title}}</b> Posted on 
                <strong>{{post.created}}   </strong><br>  last updated|
                <strong>{{post.updated}}</strong>
            </h6>
        </div>
        </div>
        </div>      

        <div class="gfg">
       
        <img src="{{post.image.url}}"} alt="" id="posted-image"> 

        <h3 class="title-txt">
                {{post.title|title}}
        </h3> 
        <h6 class="disc-txt">
            {{post.discription}}
        </h6>
        </div>
        <div class="post-bottom">        
            {%if request.user.is_superuser%}
            <a href="{%url 'delete_post' post.id%}">Delete</a> |
               {% if not request.user == post.user%}
            <a href="{%url 'edit_user' post.user.id%}">Get user</a>
                {%else%}
                <a href="{%url 'post-update' post.id%}">Edit</a>
                {%endif%}
            {%elif request.user == post.user%}
            <div>
            <a href="{%url 'delete_post' post.id%}">Delete</a> |
            <a href="{%url 'post-update' post.id%}">Edit</a>
            </div>
            {%endif%}
           <br><br>
            <a class="comment" href="{%url 'view-comment' post.pk%}">
            Comments-{{post.comment.all.count}} </a>
            <br><br>
<div style="display:flex; justify-content:space-around;">
    <form action="{%url 'like-post'%}" method="post">
            {%csrf_token%}
            <input type="hidden" name="lk" value="{{ post.id }}">
          {%if not request.user == post.user %}    
          {%if not request.user in post.liked.all %}
            <button  type="submit"><img width="20" height="20" src="/static/image/like.jpg" alt="">
            <small>Like</small> </button>   
             {%else%}
            <button style="background-color: rgb(248, 67, 12);" class="unlike" type="submit">
                <img width="20" height="20" src="/static/image/like.jpg" alt="">
                <small>Like</small>
            </button>
            {%endif%}
            <b>{{post.liked.count}}</b>
          {%else%}
          <h6>{{post.liked.count}} Likes  </h6>
          {%endif%}  
          <br><br>
    </form>  

    <form action="{%url 'unlike-post'%}" method="post">
          {%csrf_token%}
            <input type="hidden" name="unlk" value="{{ post.id }}">
          {%if not request.user == post.user %}    
            {%if not request.user in post.unliked.all %}
            <button  type="submit" style="background-color:white;padding: 4px;">
            Dislike </button>   
            {%else%}
            <button style="background-color: rgb(218, 25, 25); padding:4px" class="unlike" type="submit">
             Disike
            </button>
             {%endif%}
            <b>{{post.unliked.count}}</b>
          {%else%}
          <h6>{{post.unliked.count}} Dislikes  </h6>
          {%endif%}  
    </form>
</div >      
</div>
</a>
    </div>
    </div>
    {%endfor%}
</div>

{%else%}
<div class="head-bar">
    {%if search%}
    <h3>No results for {{search}}</h3>
    {%elif cats%}
    <h3>No posts for {{cats|title}}</h3>
    {%else%}
    <h3>You havn't posts yet</h3>
    <a id="add-icon" href="{%url 'post-create'%}">
        &#x2b; Add post</a>
    {%endif%}    
    <a href="{%url 'userpost'%}">&#8592;Back</a>
</div>
{%endif%}
</div>
{%endblock%}