{% extends 'blog/base.html'%}

{%block title%}Home | {%endblock%}

{%block content %}
{%if result%}
<div class="head-bar">
 <h1><i>{{result}} result{{result|pluralize}}</i> for {{search}}</h1>
 <a id="add-icon" href="{%url 'post-create'%}">
     &#x2b; Add post</a>  
</div>
{%elif post%}
<div class="head-bar">
 <h1><i>You have {{count}} Post{{count|pluralize}}</i></h1>
 <a id="add-icon" href="{%url 'post-create'%}">
     &#x2b; Add post</a>
     <a href="{%url 'home'%}">&#8592;Back</a>  
</div>

{%endif%}

<div class="catagory">
    <a href="{%url 'post-catagory' 'sports'%}">Sports</a>
    <a href="{%url 'post-catagory' 'fashion'%}">Fashion</a>
    <a href="{%url 'post-catagory' 'science'%}">Science</a>
    <a href="{%url 'post-catagory' 'music'%}">Music</a>
    <a href="{%url 'post-catagory' 'movies'%}">Movies</a>
    <a href="{%url 'post-catagory' 'technology'%}">Technology</a>
     <form action="" method="get">
    <div class="searching">
        <input  type="text" name="search-area" class="text"
        placeholder="search posts here" >
        <input type="submit" id="subm" value="Search">
    </div>
</form>   
  </div>
<div class="row">
    {%if post%}
    {%for post in post%}
      <div class="col">
     <a href="{%url 'post-detail' post.id%}">
         <div class="card" style="width:350px; ">
             <div class="head-post">
             {%if post.user.profile.photo.url%}
         <div>     
         <h6> <img src="{{post.user.profile.photo.url}}" alt=""
             width="40" height="40" id="pro-pic">
         {% if request.user == post.user %}
                <br> <strong>You</strong>
         {%else%}
                 <strong>{{post.user|title}}</strong>
         {%endif%}
         </h6>
         </div>
         {%else%}
         <div>
         <h6> <img src="/media/image/defualt.png" alt=""
         width="50" height="50" id="pro-pic">
         <strong>{{post.user|title}}</strong>
         </h6>
         </div>
         {%endif%}
         <div style="width:fit-content;margin: auto;font-size: 12px;">
             <div class>
                  <h6><b>{{post.catagory|title}}</b> | Posted on 
                 <strong>{{post.created}}   </strong><br>  last updated|
                 <strong>{{post.updated}}</strong>
             </h6>
         </div>
         </div>
         </div>      
 
         <div class="gfg">
                <hr style="color:rgb(44, 129, 202);width:100%">
                <img src="{{post.image.url}}"} alt="" id="posted-image"> 

                <h3 class="title-txt">
                        {{post.title|title}}
                </h3> 
                <h6 class="disc-txt">
                    {{post.discription}}
                </h6>
         </div>
         <div class="post-bottom">  
            <a href="{%url 'delete_post' post.id%}">Delete</a> |
            <a href="{%url 'post-update' post.id%}">Edit</a><br>      
             <br>
             {%if post.comment.all%}
             <a href="{%url 'view-comment' post.pk%}">
             comments-{{post.comment.all.count}} </a>
             {%else%}
             <small></small>
             {%endif%}
           <h6>{{post.liked.count}} Likes  </h6>
         </form>  
       </div>
 </a>
     </div>
     </div>
     {%endfor%}
 </div>
{%endif%}  

{%endblock%}