{%extends 'blog/base.html'%} {%block content%}

<div class="head-bar">
  <h3>
    {{post.title}} <br />
    <small>by {{post.user}}</small>
  </h3>
  <h6>Added Time : {{post.created}}</h6>
  {%if request.user == post.user%}
  <div>
    <a href="{%url 'post-update' post.id%}">Edit |</a>
    <a href="{%url 'delete_post' post.id%}">Delete</a>
  </div>
 {%endif%}
 
  {%if not request.user == post.user%}
  <div>
    <a href="{%url 'add-comment' post.id%}">&#x2b;Add Comment</a>
  </div>
  {%endif%}

  <a class="" href="{%url 'view-comment' post.pk%}">
  Comments-{{post.comment.all.count}} </a>

  <a href="{%url 'home'%}">&#8592;Back</a>
 
</div>
<div class="detail">
  <div class="post-image">
    <img id="post-image" src="{{post.image.url}}" alt="" />
  </div>
  <div class="articles">
    <h2 style="color: rgb(240, 9, 9)">{{post.discription}}</h2>
    <p>{{post.body}}</p>
  </div>
  
</div>

{%endblock%}
