{% extends 'blog/base.html'%}

{%block title%}Home | {%endblock%}

{%block content %}
{%if result%}
<div class="head-bar">
 <h1><i>{{result}} result{{result|pluralize}}</i> for {{search}}</h1>
 <a id="add-icon" href="{%url 'post-create'%}">
     &#x2b; Add post</a>  
</div>
{%elif post%}
<div class="head-bar">
 <h1><i>You have {{count}} Post{{count|pluralize}}</i></h1>
 <a id="add-icon" href="{%url 'post-create'%}">
     &#x2b; Add post</a>
     <a href="{%url 'home'%}">&#8592;Back</a>  
</div>

{%endif%}

    <form action="" method="get">
    <div class="searching">
        <input  type="text" name="search-area" class="text"
        placeholder="search posts here" >
        <input type="submit" id="subm" value="Search">
    </div>
</form>   
<div class="catagory">
    <a href="{%url 'post-catagory' 'sports'%}">Sports</a>
    <a href="{%url 'post-catagory' 'fashion'%}">Fashion</a>
    <a href="{%url 'post-catagory' 'science'%}">Science</a>
    <a href="{%url 'post-catagory' 'music'%}">Music</a>
    <a href="{%url 'post-catagory' 'movies'%}">Movies</a>
    <a href="{%url 'post-catagory' 'technology'%}">Technology</a>
    </div>
<div class="post-body">  
    <div class="row">
        {%if post%}
        {%for post in post%}
        <a href="{%url 'post-detail' post.id%}">
        <div class="col">
            <div class="card" style="width:350px; height: 400;">
                <h6> <img src="{{post.user.profile.photo.url}}" alt=""
                    width="50" height="50" id="pro-pic">
                    <strong>{{post.user|title}}</strong></h6>
                <div class="head-post">
                    <h6><b>{{post.catagory|title}}</b> | Posted on <strong>{{post.created|date}}</strong></h6>
                </div>
                <img src="{{post.image.url}}" alt="" id="posted-image" 
                width="340" height="200">

                <div class="card-body">
                    <figcaption>
                    <h1 class="card-title">{{post.title}}</h1> 
                   <p style="color: rgb(247, 246, 246);">{{post.discription}}</p>
                    <a href="{%url 'post-update' post.id%}">Update</a> |
                    <a href="{%url 'delete_post' post.id%}">Delete</a>

                  {%if post.comment.all%}
                  <a href="{%url 'view-comment' post.pk%}">
                    comments-{{post.comment.all.count}} 
                  </a>
                  {%else%}
                 <small> {%if post.comment.all%}
                    <a href="{%url 'view-comment' post.pk%}">
                      comments-{{post.comment.all.count}} 
                    </a>
                    {%else%}
                   <small></small>
                    {%endif%}
                   <form action="{%url 'like-post' post.id%}" method="post">
                      {%csrf_token%}
                      <button type="submit" name="lk" value="{{ post.id }}">
                          Likes 
                      </button>
                      <b>{{like.count}}</b>
                   </form>
                  
                  </small>
                  {%endif%}
                </figcaption>
                </div>
            </a>
            </div>
        </div>
        {%endfor%}
    </div>
    </div>
    {%else%}
    <p></p>
    <div class="head-bar">
        <p>You havan't posted anything yet</p>
        <a id="add-icon" href="{%url 'post-create'%}">Add post &#x2b;</a>
    </div>

    {%endif%}  
{%endblock%}