{%extends 'blog/base.html'%}
{%block link%}
{%endblock%}
{%block content%}
<head>
    <style>
        .head-bar{
      margin:auto;
      width: 80%;
    }
    .profile-container{
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      box-shadow: rgb(235, 238, 232) 3px 3px 40px -30px;
    }
    .profile-form{
      width:50%;
      margin: auto;
     
    }
     </style>
        
</head>
<div class="head-bar" >
    <h1 ><s>Your Profile</s></h1> 
    <a id="add-icon" href="{%url 'change-password'%}">Change Password</a>
    <a id="add-icon" href="{%url 'home'%}">&#8592;Back</a></h1>

</div>

   
 <div class="profile-container">
    <div class="profile-image">
        <img src="{{user.profile.photo.url}}" alt='' 
         width="450" height="450">
         <figcaption>
          <small>Profile Picture</small>
         </figcaption>
    </div>
    <div class="profile-form">
        <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <p><label for="">{{u_form.username.label}}</label>
                {{u_form.username}}</p>
                <p><label for="">{{u_form.email.label}}</label>
                    {{u_form.email}} </p>
             <p><label for="">{{u_form.first_name.label}}</label>
                        {{u_form.first_name}} </p>
            <p><label for="">{{u_form.last_name.label}}</label>
              {{u_form.last_name}} </p>          
            <p><label for="">{{p_form.photo.label}} {{p_form.photo}}</label></p> 
            <br>
           <p> <input type="submit" name="sub" id="subm" value="Save"></p>
        </form>
    </div>
    
   </div>
{%endblock%}