{%extends 'blog/base.html'%}
{%block content%}
<body>
   <div class="loginbox">
    <div class="head-bar">
        <h1>Register here</h1>
        <a href="{%url 'users'%}">&#8592;Back</a>
    </div>
   
    <form action="" method="post">
        {%csrf_token%}
        <p><label for="">{{form.username.label}}</label>
        {{form.username}}</p>
        <p><label for="">{{form.first_name.label}}</label>
            {{form.first_name}}</p>
            <p><label for="">{{form.last_name.label}}</label>
                {{form.last_name}}</p>
        <p><label for="">{{form.email.label}}</label>
            {{form.email}}</p>
        <p><label for="">{{form.password1.label}}</label>
            {{form.password1}}</p>
        <label for="">{{form.password2.label}}</label><br>
                {{form.password2}}
                <br><br>
            
        <input type="submit" name="sub" id="subm"  value="Register">
        {%if not user.is_authenticated%}
        <p>Do you have an account already? <a href="{%url 'login'%}">Login Now</a></p>
        {%endif%}
       
    </form>
   </div>
</body>
{%endblock content%}